* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
/* .mouse-tracker {
  position: absolute;
  z-index: 30;
  background-color:gray;
  width: 1vw;
  height: 2vh;
margin: 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 5px;
} */

